<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Analysis</title>
     <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to FooFit !</h1>
        <h3>(A Capstone Web Development Project)</h3>
    </header>
    
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="admin_login">Admin Login</a></li>
        </ul>
    </nav>
    
    <section class="main-content">
        <h2>About Nutrition Analysis</h2>
        <p>
            " Your one-stop solution for tracking and analyzing your daily food intake.</p>
        <p> Whether you want to maintain a healthy diet or have specific dietary goals</p>       
        <p> in mind, our platform can help you keep a record of what you eat and provide</p> 
         <p>valuable insights into your nutrition. "</p>
    </section>
    
    <section class="features">
        <h2>Key Features</h2>
        <ul>
            <li>User Registration: Create an account to get started.</li>
            <li>User Login: Log in to access your personalized food intake data.</li>
            <li>Admin Login: Administrators can manage food data.</li>
            <li>Food Intake Logging: Record your daily meals and snacks.</li>
            <li>Nutritional Information Search: Look up nutritional facts for specific foods.</li>
            <!--<li>Visual Representation: View charts of your nutrition intake over time.</li>-->
        </ul>
    </section>
    
    <footer>
        <p>&copy; 2023 FoodFit(capstone)</p>
    </footer>
</body>
</html>
